.note_items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  align-items: stretch;
  justify-content: center;
  
}

.notes_card {
  width: 25%;
  padding: 10px 15px;
  padding-bottom: 0;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  position: relative;
  cursor: pointer;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.note_actions {
  display: flex;
  gap: 5px;
  align-items: center;
  visibility: hidden;
  margin-top: auto;
  padding: 15px 0;
}

.delete_button {
  width: 30px;
  height: 20px;
  background: none;
  cursor: pointer;
  border: none;
  right: 5px;
  top: 5px;
}

.delete_button:hover {
  scale: 1.1;
}

.notes_card:hover {
  box-shadow: 0 0 3px 0 black;
}

.notes_card:hover .note_actions {
  visibility: visible;
}

.notes_card__title {
  color: black;
  font-weight: 550;
  font-size: 16px;
}

.notes_card__note {
  color: black;
  font-weight: 540;
  font-size: 18px;
  max-height: 20%;
}

.color_select_button {
  width: 30px;
  height: 20px;
  background: none;
  cursor: pointer;
  border: none;
}

.color_select_button:hover {
  scale: 1.1;
}